<div class="dummy"></div>
<!--==========Footer Area==========-->
<div class="container-fluid footer-container">
  <div class="footer-wrap-footer">
    <hr class="hr">
    <footer class="footer-wrap d-flex flex-wrap justify-content-between align-items-center">
      <p class="col-md-4 mb-0 copyright">© 2023 Confuse eCommerce, Inc</p>

      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="logo img-fluid footer-logo" src="/images/logo-no-text.png" alt="logo">
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="/orders" class="nav-link">Orders</a></li>
        <li class="nav-item"><a href="/me" class="nav-link">My Account</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
      </ul>
    </footer>
  </div>
</div>
<!--==========Footer Area==========-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
</body>

</html>