<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>eCommerce</title>

    <!-- Including Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--==========Navigation Section==========-->
    <header class="position-sticky sticky-top shadow-sm">
        <nav class="container-fluid navigation py-3 d-inline-flex justify-content-between">
            <a href="/">
                <img class="logo" src="/images/logo.png" alt="logo">
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item search-box">
                    <form class="input-group" method="POST" action="/search">
                        <button type="submit" class="input-group-text" id="basic-addon1">
                            <i class="bi bi-search"></i>
                        </button>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1">
                    </form>
                </li>