<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>eCommerce</title>

    <!-- Including Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="account-type d-none">
        <%= data.accountType %>
    </div>
    <!--==========Navigation Section==========-->
    <header class="position-sticky sticky-top shadow-sm">
        <nav class="container-fluid navigation py-3 d-inline-flex justify-content-between">
            <a href="/">
                <img class="logo" src="/images/logo-no-text.png" alt="logo">
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item search-box">
                    <form class="input-group" method="POST" action="/products/search">
                        <button type="submit" class="input-group-text" id="basic-addon1">
                            <i class="bi bi-search"></i>
                        </button>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search"
                            name="search" required>
                    </form>
                </li>

                <li class="nav-item nav-signin"><a href="/signin" class="nav-link">Sign in</a></li>
                <li class="nav-item nav-signup"><a href="/signup" class="nav-link">Sign up</a></li>

                <li class="nav-item nav-cart nav-customer">
                    <a href="/cart" class="nav-link">
                        <div class="cart">
                            <i class="bi bi-cart cart-icon"></i>
                            <span class="cart-count">
                                <%= data.cartCount %>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="nav-item nav-user-menu">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="user">
                                <%= data.username %>
                            </span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-vendor" href="/dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item nav-vendor" href="/products/vendor/<%= data.username %>">View My
                                    Products</a></li>
                            <li><a class="dropdown-item nav-vendor" href="/product/new">Add New Product</a></li>

                            <li><a class="dropdown-item nav-customer nav-shipper" href="/orders">Orders</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/me">My Account</a></li>
                            <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!--==========Navigation Section==========-->

    <div
        class="container col-8 alert alert-warning alert-dismissible alert-container fade show position-fixed fixed-top">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span class="alert-msg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>