<%- include('./partials/header.ejs') %>

<div>
    <h1>About Us</h1>
    <p>
        We are a group with 4 members from RMIT University, we currently enroll in Web Programing Course and this website is our first Full-stack
        Web Application
    </p>
</div>

<%- include('./partials/footer.ejs') %>