<%- include('./partials/header.ejs') %>

    <div class="container about-page mt-5 mb-5">
        <div class="row g-0 form-row justify-content-center">
            <div class="col-lg-6 col-xl-5 col-xxl-4 shadow-sm d-none d-lg-block img-col">
                <img src="/images/pexels-canva-studio-3194519.jpg" alt="about-page-img"
                    class="img-fluid h-100 about-page-img">
            </div>

            <div class="col-12 col-md-10 col-lg-6 col-xl-5 col-xxl-4 shadow-sm text-col">
                <div class="about-wrapper">
                    <h1 class="mb-4">About Us</h1>
                    <hr>
                    <p class="mt-4 about-text">
                        We are a team of 4 members from RMIT University in Vietnam, all of us are enrolled in the
                        Web Programming Course. This eCommerce website is our last assignment as a Full-stack Web
                        Application development. We have created this eCommerce platform that highly focus on
                        technological products and equipment. This venture demonstrates not
                        just our joint skills and commitment, but also our enthusiasm to the digital world.
                        <br><br>
                        Welcome to our creation and see for yourself in the fruits of our labor and ingenuity.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>