<%- include('./partials/header.ejs') %>

    <h1>INDEX!</h1>
    <p>User: <%= user %>
    </p>

    <form method="POST" action="/logout">
        <button type="submit">logout!</button>
    </form>


    <%- include('./partials/footer.ejs') %>