<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. -->

<%- include('./partials/header-no-sign.ejs') %>

    <li class="nav-item"><a href="/signin" class="nav-link active">Sign in</a></li>
    <li class="nav-item"><a href="/signup" class="nav-link">Sign up</a></li>
    </ul>
    </nav>
    </header>
    <!--==========Navigation Section==========-->

    <div
        class="container col-8 alert alert-warning alert-dismissible alert-container fade show position-fixed fixed-top">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span class="alert-msg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container mt-4 mb-4">
        <div class="row g-0 form-row justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 shadow-sm login-img">
                <img src="/images/pexels-cup-of-couple.jpg" alt="login-page-img" class="img-fluid h-100">
            </div>

            <div
                class="col-10 col-sm-8 col-md-6 col-lg-6 col-xl-4 shadow-sm d-flex align-items-center form-box login-col">
                <form class="signin-form w-100" method="POST" action="/signin">
                    <h1 class="mb-4">SIGN IN</h1>
                    <div class="form-outline mb-4">
                        <input type="text" id="username" name="username" class="form-control username"
                            placeholder="Username" required />
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="password" name="password" class="form-control password"
                            placeholder="Password" required />
                    </div>

                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center">
                            <a href="">Forgot password?</a>
                        </div>
                    </div>

                    <div class="d-grid mb-3">
                        <button type="button" class="btn btn-primary anm-btn signin-btn" onclick="signIn()"><span>Sign
                                in</span></button>
                    </div>

                    <div class="text-center">
                        <p>Not a member? <a href="/signup">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>