<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. -->

<%- include('./partials/header-no-sign.ejs') %>

    <li class="nav-item"><a href="/signin" class="nav-link">Sign in</a></li>
    <li class="nav-item"><a href="/signup" class="nav-link active">Sign up</a></li>
    </ul>
    </nav>
    </header>
    <!--==========Navigation Section==========-->

    <div
        class="container col-8 alert alert-warning alert-dismissible alert-container fade show  position-fixed fixed-top">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span class="alert-msg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="register-page">

        <form method="POST" action="/signup" enctype="multipart/form-data" class="signup-form">

            <div class="container register-1">
                <div class="row g-0 form-row justify-content-center">
                    <div
                        class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 shadow-sm form-box register-col-1 d-flex align-items-center">
                        <div class="w-100">
                            <h1 class="mb-4">SIGN UP</h1>
                            <div class="form-outline mb-4">
                                <input type="text" id="username" name="username" class="form-control username"
                                    placeholder="Username" required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control password"
                                    placeholder="Password" required />
                            </div>

                            <hr>

                            <div class="mb-4">
                                <input class="form-control profile" type="file" id="formFile" name="profile"
                                    onchange="preview()" accept='image/*'>
                                <div class="d-grid">
                                    <button type="button" onclick="clearImage()" class="btn btn-primary mt-3">Remove
                                        avatar</button>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <img id="frame" class="col-12 img-fuild" alt="profile"
                                    src="/images/profiles/default.jpg" />
                            </div>

                            <hr>

                            <div class="container row check-boxes align-items-center">
                                <div class="col form-check d-flex justify-content-center gap-2">
                                    <input class="form-check-input" type="radio" value="vendor" name="accounttype"
                                        id="vendorflexCheckDefault">
                                    <label class="form-check-label" for="vendorflexCheckDefault">
                                        Vendor
                                    </label>
                                </div>
                                <div class="col form-check d-flex justify-content-center gap-2">
                                    <input class="form-check-input" type="radio" value="customer" name="accounttype"
                                        id="customerflexCheckChecked">
                                    <label class="form-check-label" for="customerflexCheckChecked">
                                        Customer
                                    </label>
                                </div>
                                <div class="col form-check d-flex justify-content-center gap-2">
                                    <input class="form-check-input" type="radio" value="shipper" name="accounttype"
                                        id="shipperflexCheckChecked">
                                    <label class="form-check-label" for="shipperflexCheckChecked">
                                        Shipper
                                    </label>
                                </div>
                            </div>

                            <hr>

                            <div class="d-grid">
                                <button type="button" onclick="nextRegisterForm()"
                                    class="btn btn-primary mb-3 anm-btn next-btn">
                                    <span>Next</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xl-5 shadow-sm signup-img-1">
                        <img src="/images/pexels-anna-shvets.jpg" alt="signup-page-img-1" class="img-fluid h-100">
                    </div>
                </div>
            </div>


            <div class="container register-2 mt-5">

                <div class="row g-0 form-row justify-content-center">
                    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 shadow-sm">
                        <div class="shadow-sm signup-img-2 vendor-form">
                            <img src="/images/pexels-karolina-grabowska.jpg" alt="signup-page-img-2"
                                class="img-fluid w-100">
                        </div>

                        <div class="shadow-sm signup-img-2 customer-form">
                            <img src="/images/pexels-cottonbro-studio.jpg" alt="signup-page-img-2"
                                class="img-fluid w-100">
                        </div>

                        <div class="shadow-sm signup-img-2 shipper-form">
                            <img src="/images/pexels-karolina-grabowska-cart.jpg" alt="signup-page-img-2"
                                class="img-fluid w-100">
                        </div>

                        <div class="form-box register-col-2">
                            <div class="vendor-form">
                                <h1 class="mb-4">START SELLING</h1>

                                <div class="form-outline mb-4">
                                    <input type="text" id="vendorname" name="vendorname" class="form-control vendorname"
                                        placeholder="Business Name" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="vendoraddress" name="vendoraddress"
                                        class="form-control vendoraddress" placeholder="Business Address" required />
                                </div>
                            </div>

                            <div class="customer-form">
                                <h1 class="mb-4">START BUYING</h1>

                                <div class="form-outline mb-4">
                                    <input type="text" id="name" name="name" class="form-control name"
                                        placeholder="Name" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="address" name="address" class="form-control address"
                                        placeholder="Address" required />
                                </div>
                            </div>

                            <div class="shipper-form">
                                <h1 class="mb-4">START DELIVERY</h1>

                                <select name="hub" id="hub" class="form-select mb-4 hub"
                                    aria-label="Default select example">
                                    <option selected>Select Hub</option>
                                    <option value="Ho Chi Minh">Ho Chi Minh</option>
                                    <option value="Da Nang">Da Nang</option>
                                    <option value="Hanoi">Hanoi</option>
                                </select>
                            </div>

                            <div class="container mb-3">
                                <div class="row gap-2">
                                    <button type="button" onclick="backRegisterForm()"
                                        class="col btn btn-primary anm-btn back-btn">
                                        <span>Back</span>
                                    </button>
                                    <button type="button" class="col btn btn-primary anm-btn signup-btn"
                                        onclick="vendorCheck()">
                                        <span>Sign up</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- a dummy container below absolute div to push the footer down -->
    <div class="dummy"></div>

    <%- include('./partials/footer.ejs') %>