body {
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    background-color: #f7f4f3;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* animation */
@keyframes flyin {
    0% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*  navigation bar */
.navigation {
    background-color: #5b2333;
    max-height: 73px;

    .logo {
        max-width: 55px;
        margin-left: 20px;
    }

    .search-box {
        margin-right: 20px;
    }

    .active {
        background-color: #ba1b1d !important;
    }

    .nav-item a {
        color: #f7f4f3;
        font-weight: bold;
        transition: all 0.25s;
    }

    .nav-item a:hover {
        color: #ba1b1d;
    }

    .dropdown-item {
        color: #ba1b1d !important;
    }

    .dropdown-item:hover {
        color: #f24333 !important;
    }
}

.navigation form button {
    background-color: #ba1b1d;
}

.navigation form i {
    color: #f7f4f3;
}

.alert-container {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer-container {
    background-color: #564d4a;

    font-weight: bold;

    .copyright {
        color: #f7f4f3;
    }

    .nav-item a {
        color: #f7f4f3;
    }

    .nav-item a:hover {
        color: #ba1b1d;
    }

    .footer-logo {
        max-width: 75px;
    }

    .footer-wrap {
        padding-bottom: 20px;
    }

    .footer-wrap-footer {
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* login & register page */
.form-row {
    animation: flyin 0.75s;
}

.login-col,
.signup-img-1 img {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.login-img img,
.register-col-1 {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.register-col-2 {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.signup-img-2 {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

@media (max-width: 768px) {
    .login-img {
        display: none;
    }
}

@media (max-width: 992px) {
    .signup-img-1 {
        display: none;
    }
}

.form-box {
    background-color: white;
    padding: 30px;
    white-space: nowrap;
}

.form-box a {
    text-decoration: none;
    color: #ba1b1d;
    transition: all 0.25s;
}

.form-box a:hover {
    color: #f24333;
}

.form-box h1 {
    font-weight: bold;
    color: #ba1b1d;
    text-shadow: 2.5px 2.5px #564d4a;
    pointer-events: none;
}

.form-box button {
    background-color: #5b2333;
    border-color: #5b2333;
    transition: all 0.25s;
}

.form-box button:hover {
    background-color: #ba1b1d;
    border-color: #ba1b1d;
}

.form-box input {
    transition: all 0.25s;

}

.form-box input:hover {
    box-shadow: 2.5px 2.5px #ba1b1d;
}

.register-box {
    background-color: white;
}

.register-col-1 img {
    width: 200px;
    border-radius: 50%;
}

.register-1,
.register-2 {
    position: absolute;
    right: 0;
    transition: all 1s;
}

.anm-btn span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.anm-btn span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.login-col {
    .signin-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .signin-btn span:after {
        content: '\F282';
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .signin-btn:hover span {
        padding-right: 20px;
    }


}

.register-1 {
    left: 0;

    .next-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .next-btn span:after {
        content: '❯';
        right: -20px;
    }

    .next-btn:hover span {
        padding-right: 20px;
    }
}

.register-2 {
    display: none;
    left: 100vw;

    .back-btn:hover span:after {
        opacity: 1;
        left: 0;
    }

    .back-btn span:after {
        content: '❮';
        left: -20px;
    }

    .back-btn:hover span {
        padding-left: 20px;
    }

    .signup-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .signup-btn span:after {
        content: "\F286";
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .signup-btn:hover span {
        padding-right: 20px;
    }

    .vendor-form,
    .customer-form,
    .shipper-form {
        display: none;
    }
}

.cart {
    position: relative;
    width: 28px;
    height: 24px;

    .cart-icon {
        position: relative;
        top: -8px;
        font-size: 24px;
    }

    .cart-count {
        position: absolute;
        top: -4px;
        right: -4px;
        font-size: 11px;
        border-radius: 50%;
        background: #ba1b1d;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        color: white;
    }
}

.product-add {
    background-color: white;
    animation: flyin 0.75s;

    .product-box {
        padding: 30px;
    }

    .add-pd-btn {
        background-color: #5b2333;
        border-color: #5b2333;
        color: white;
        transition: all 0.25s;
    }

    .add-pd-btn:hover {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }

    .add-pd-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .add-pd-btn span:after {
        content: '\F4FA';
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .add-pd-btn:hover span {
        padding-right: 20px;
    }

    .rm-imgs {
        background-color: #5b2333;
        border-color: #5b2333;
        color: white;
        transition: all 0.25s;
    }

    .rm-imgs:hover {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }
}

.vendor-dashboard {
    background-color: white;

    .dashboard-row {
        padding: 30px;
    }

    .dashboard-vr {
        width: 2px;
        padding: 0px;
    }

    .dashboard-item {
        margin: 10px;
        padding: 10px;
    }

    .dashboard-icon {
        font-size: 50px;
    }

    .dashboard-btn {
        font-size: 20px;
        background-color: #5b2333;
        border-color: #5b2333;
        color: white;
        transition: all 0.25s;
        white-space: nowrap;
    }

    .dashboard-btn:hover {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }
}

.orders-page {
    background-color: white;

    .orders-container {
        padding: 20px;
    }

    .heading {
        font-size: auto;
    }

    .no-order {
        font-size: 25px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.me-page {
    .me-container {
        background-color: white;
        padding: 30px;
    }
}

.products-container {
    background-color: white;

    padding: 20px;

    .product-card {
        margin: 5px;
    }

    .pd-card {
        max-height: 200px;
    }

    .pd-card img {
        height: 100%;
        width: auto;
        padding: 10px;
    }

    .product-name {
        text-decoration: none;
        color: black;
    }

    .add-cart-btn,
    .edit-btn {
        background-color: #564d4a;
        border-color: #564d4a;
    }

    .delete-btn {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }

    .add-cart-btn:hover,
    .edit-btn:hover {
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .delete-btn:hover {
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .add-cart-btn:hover span:after,
    .edit-btn:hover span:after,
    .delete-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .add-cart-btn:hover span,
    .edit-btn:hover span,
    .delete-btn:hover span {
        padding-right: 20px;
    }

    .add-cart-btn span:after,
    .edit-btn span:after,
    .delete-btn span:after {
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .add-cart-btn span:after {
        content: '\F64D';
    }

    .edit-btn span:after {
        content: '\F4CA';
    }

    .delete-btn span:after {
        content: '\F659';
    }
}

@media (min-width: 991px) {
    .product-card-ctrl:nth-child(n+7) {
        display: none;
    }

    .product-card {
        max-width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-card-ctrl:nth-child(n+5) {
        display: none;
    }

    .product-card {
        max-width: 48%;
    }
}

@media (max-width: 767px) {
    .product-card-ctrl:nth-child(n+4) {
        display: none;
    }
}