/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. */

body {
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    background-color: #f7f4f3;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* animation */
@keyframes flyin {
    0% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*  navigation bar */
.navigation {
    background-color: #5b2333;
    max-height: 73px;

    .logo {
        max-width: 55px;
        margin-left: 20px;
    }

    .search-box {
        margin-right: 20px;
    }

    .active {
        background-color: #ba1b1d !important;
    }

    .nav-item a {
        color: #f7f4f3;
        font-weight: bold;
        transition: all 0.25s;
    }

    .nav-item a:hover {
        color: #ba1b1d;
    }

    .dropdown-item {
        color: #ba1b1d !important;
    }

    .dropdown-item:hover {
        color: #f24333 !important;
    }
}

.navigation form button {
    background-color: #ba1b1d;
}

.navigation form i {
    color: #f7f4f3;
}

.alert-container {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer-container {
    background-color: #564d4a;

    color: #f7f4f3;

    .heading {
        font-weight: 500;
    }

    .nav-item a {
        color: rgba(222, 226, 230, 0.75);
    }

    .nav-item a:hover {
        color: #ba1b1d;
    }

    .footer-logo {
        max-width: 75px;
    }

    .footer-wrapper {
        padding: 40px;
        padding-bottom: 0px;
    }
}

/* login & register page */
.form-row {
    animation: flyin 0.75s;
}

.login-col,
.signup-img-1 img {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.login-img img,
.register-col-1 {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.register-col-2 {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.signup-img-2 {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

@media (max-width: 768px) {
    .login-img {
        display: none;
    }
}

@media (max-width: 992px) {
    .signup-img-1 {
        display: none;
    }
}

.form-box {
    background-color: white;
    padding: 30px;
    white-space: nowrap;
}

.form-box a {
    text-decoration: none;
    color: #ba1b1d;
    transition: all 0.25s;
}

.form-box a:hover {
    color: #f24333;
}

.form-box h1 {
    font-weight: bold;
    color: #ba1b1d;
    text-shadow: 2.5px 2.5px #564d4a;
    pointer-events: none;
}

.form-box button {
    background-color: #5b2333;
    border-color: #5b2333;
    transition: all 0.25s;
}

.form-box button:hover {
    background-color: #ba1b1d;
    border-color: #ba1b1d;
}

.form-box input {
    transition: all 0.25s;

}

.form-box input:hover {
    box-shadow: 2.5px 2.5px #ba1b1d;
}

.register-box {
    background-color: white;
}

.register-col-1 img {
    width: 200px;
    border-radius: 50%;
}

.register-1,
.register-2 {
    position: absolute;
    right: 0;
    transition: all 1s;
}

.anm-btn span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.anm-btn span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.login-col {
    .signin-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .signin-btn span:after {
        content: '\F282';
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .signin-btn:hover span {
        padding-right: 20px;
    }


}

.register-1 {
    left: 0;

    .next-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .next-btn span:after {
        content: '❯';
        right: -20px;
    }

    .next-btn:hover span {
        padding-right: 20px;
    }
}

.register-2 {
    display: none;
    left: 100vw;

    .back-btn:hover span:after {
        opacity: 1;
        left: 0;
    }

    .back-btn span:after {
        content: '❮';
        left: -20px;
    }

    .back-btn:hover span {
        padding-left: 20px;
    }

    .signup-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .signup-btn span:after {
        content: "\F286";
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .signup-btn:hover span {
        padding-right: 20px;
    }

    .vendor-form,
    .customer-form,
    .shipper-form {
        display: none;
    }
}

.cart {
    position: relative;
    width: 28px;
    height: 24px;

    .cart-icon {
        position: relative;
        top: -8px;
        font-size: 24px;
    }

    .cart-count {
        position: absolute;
        top: -4px;
        right: -4px;
        font-size: 11px;
        border-radius: 50%;
        background: #ba1b1d;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        color: white;
    }
}

.product-add {
    background-color: white;
    animation: flyin 0.75s;

    .product-box {
        padding: 30px;
    }

    .anm-btn {
        background-color: #5b2333;
        border-color: #5b2333;
        color: white;
        transition: all 0.25s;
    }

    .clr-btn {
        background-color: white;
        color: #5b2333;
    }

    .anm-btn:hover {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }

    .clr-btn:hover {
        background-color: #564d4a;
        border-color: #564d4a;
    }

    .anm-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .anm-btn span:after {
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .anm-btn:hover span {
        padding-right: 20px;
    }

    .add-pd-btn span:after {
        content: '\F4FA';
    }

    .update-pd-btn span:after {
        content: '\F4CA';
    }

    .rm-imgs span:after,
    .clr-btn span:after {
        content: '\F659';
    }
}

.vendor-dashboard {
    background-color: white;

    .dashboard-row {
        padding: 30px;
    }

    .dashboard-vr {
        width: 2px;
        padding: 0px;
    }

    .dashboard-item {
        margin: 10px;
        padding: 10px;
    }

    .dashboard-icon {
        font-size: 50px;
    }

    .dashboard-btn {
        font-size: 20px;
        background-color: #5b2333;
        border-color: #5b2333;
        color: white;
        transition: all 0.25s;
        white-space: nowrap;
    }

    .dashboard-btn:hover {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }
}

.me-page {
    max-width: 50%;
    background-color: white;

    @media (max-width: 1200px) {
        max-width: 70%;
    }

    @media (max-width: 992px) {
        max-width: 80%;
    }

    @media (max-width: 768px) {
        max-width: 90%;
    }

    .title {
        padding: 30px;
        font-weight: 500;
        font-size: 32px;
    }

    .me-container {
        padding: 30px;
        padding-top: 0px;
    }

    .note {
        font-size: small;
    }
}

.products-page {
    .vendor-pd-wrapper {
        background-color: white;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .no-products {
        background-color: white;
        font-size: 42px;
        padding: 100px;
    }

    .product-card {
        margin: 5px;
    }

    .pd-card {
        max-height: 200px;
    }

    .vendor-name {
        font-weight: 500;
        font-size: 25px;
    }

    .vendor-profile {
        height: 25px;
        width: auto;
    }

    .pd-card img {
        height: 100%;
        width: auto;
        padding: 10px;
    }

    .product-name {
        text-decoration: none;
        color: black;
    }

    .add-cart-btn,
    .edit-btn,
    .filter-submit {
        color: white;
        background-color: #564d4a;
        border-color: #564d4a;
    }

    .delete-btn {
        color: white;
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }

    .add-cart-btn:hover,
    .edit-btn:hover,
    .filter-submit:hover {
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .delete-btn:hover {
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .add-cart-btn:hover span:after,
    .edit-btn:hover span:after,
    .delete-btn:hover span:after,
    .filter-submit:hover span:after {
        opacity: 1;
        right: 0;
    }

    .add-cart-btn:hover span,
    .edit-btn:hover span,
    .delete-btn:hover span,
    .filter-submit:hover span {
        padding-right: 20px;
    }

    .add-cart-btn span:after,
    .edit-btn span:after,
    .delete-btn span:after,
    .filter-submit span:after {
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .add-cart-btn span:after {
        content: '\F64D';
    }

    .edit-btn span:after {
        content: '\F4CA';
    }

    .delete-btn span:after {
        content: '\F659';
    }

    .filter-submit span:after {
        content: '\F286';
    }

    .price-filter {
        background-color: white;
        padding: 10px;
    }

    .filter-text {
        font-size: 22px;
    }
}

.cf-modal {

    .cancel-btn,
    .confirm-btn {
        color: white;
    }

    .cancel-btn {
        background-color: #564d4a;
        border-color: #564d4a;
    }

    .confirm-btn {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }

    .cancel-btn:hover,
    .confirm-btn:hover {
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .cancel-btn:hover span:after,
    .confirm-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .cancel-btn:hover span,
    .confirm-btn:hover span {
        padding-right: 20px;
    }

    .cancel-btn span:after,
    .confirm-btn span:after {
        right: -20px;
        font-family: "bootstrap-icons";
    }

    .cancel-btn span:after {
        content: '\F659';
    }

    .confirm-btn span:after {
        content: '\F633';
    }
}

.product-page {
    .product-row {
        background-color: white;
        padding: 30px;
    }

    #buy-amount button {
        width: 35px;
        height: 35px;
        outline: none;
        background: none;
        border: 1px solid #ececed;
        cursor: pointer;
    }

    #buy-amount button:hover {
        background-color: #ececed;
    }

    #buy-amount button svg {
        color: #909090;
    }

    #buy-amount button:hover svg {
        color: #909090;
    }

    #buy-amount #amount {
        width: 40px;
        text-align: center;
        border: 1px solid #ececed;
    }

    .pd-info {
        .pd-name {
            font-weight: 500;
            font-size: 32px;
        }

        .pd-price {
            font-size: 28px;
        }

        .pd-brand {
            font-size: 18px;
        }
    }

    .pd-quantity-input {
        .btn-number {
            border: 1px solid #5b2333 !important;
        }
    }

    .pd-img {
        border: 2px solid #5b2333;
        border-radius: 0.375rem;
    }

    .pd-img-main {
        border: 2px solid #5b2333;
        border-radius: 0.375rem;
    }

    .add-cart-btn {
        background-color: #564d4a;
        border-color: #564d4a;
    }

    .add-cart-btn:hover {
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .add-cart-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .add-cart-btn:hover span {
        padding-right: 20px;
    }

    .add-cart-btn span:after {
        right: -20px;
        font-family: "bootstrap-icons";
        content: '\F64D';
    }

    .pd-dcs {
        font-size: 18px;
    }

    .pd-info-wrapper {
        padding: 20px;
    }
}

.cart-page {
    .cart-container {
        background-color: white;
    }

    .vendorname {
        font-weight: 500;
        padding: 20px;
    }

    .vendorname .text {
        margin-left: 20px;
    }

    .vendor-products {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pd-info {
        align-items: center;
    }

    .pd-img {
        border: 2px solid #5b2333;
        border-radius: 0.375rem;
        height: 150px;
        max-width: 150px;
    }

    .pd-img img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    .pd-quantity-input {
        .btn-number {
            border: 1px solid #5b2333 !important;
        }
    }

    .pd-total-price {
        color: #ba1b1d;
    }

    .pd-remove-btn {
        background-color: #5b2333;
        color: white;
    }

    .empty-cart {
        font-size: 25px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.place-order-wrapper {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;

    .cart-total-price {
        font-size: 25px;
    }

    .total-price,
    .dolar {
        color: #ba1b1d;
    }

    .place-order-btn {
        width: 150px;
        color: white;
        background-color: #5b2333;
        border-color: #5b2333;
    }

    .place-order-btn:hover {
        background-color: #ba1b1d;
        border-color: #ba1b1d;
    }

    .place-order-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .place-order-btn:hover span {
        padding-right: 20px;
    }

    .place-order-btn span:after {
        right: -20px;
        font-family: "bootstrap-icons";
        content: '\F170';
    }
}

.orders-page {
    .display-for {
        padding: 20px;
        background-color: white;
    }

    .order-container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: white;
    }

    .heading {
        font-size: 20px;
    }

    .order-count,
    .shipper-hub {
        color: #ba1b1d;
    }

    .no-order {
        font-size: 25px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: white;
    }

    .order-id {
        font-weight: 500;
    }

    .vendorname {
        font-weight: 500;
        padding: 20px;
    }

    .order-img {
        border: 2px solid #5b2333;
        border-radius: 0.375rem;
        max-width: 150px;
        height: 150px;
    }

    .order-img img {
        object-fit: contain;
    }

    .order-info {
        padding: 20px;
    }

    .pd-info {
        padding-left: 10px;
    }

    .order-price {
        color: #ba1b1d;
    }

    .order-status {
        font-size: 25px;
    }

    .total-price {
        color: #ba1b1d;
    }

    .display-shipper {
        display: flex;
    }

    .status-active {
        color: green;
    }

    .status-delivered {
        color: blue;
    }

    .status-canceled {
        color: red;
    }
}

.order-page {
    .order-info {
        background-color: white;
        padding: 20px;
    }

    .order-status {
        background-color: white;
        padding: 10px;
        font-size: 25px;
    }

    .vendor-products {
        background-color: white;

        .vendorname {
            padding: 30px;
            font-weight: 500;
        }

        .products {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .order-img {
        border: 2px solid #5b2333;
        border-radius: 0.375rem;
        max-width: 150px;
        height: 150px;
    }

    .order-img img {
        object-fit: contain;
    }

    .order-img a {

        max-width: 150px;
    }

    .order-price {
        color: #ba1b1d;
    }

    .total-price {
        color: #ba1b1d;
    }

    .display-shipper {
        display: flex;
    }

    .status-active {
        color: green;
    }

    .status-delivered {
        color: blue;
    }

    .status-canceled {
        color: red;
    }
}

.about-page {
    .text-col {
        background-color: white;
    }

    .about-wrapper {
        padding: 30px;
    }

    .about-text {
        font-size: 18px;
    }

    .text-col {
        border-radius: 0 0.375rem 0.375rem 0;
    }

    .about-page-img {
        border-radius: 0.375rem 0 0 0.375rem;
    }

    @media (max-width: 992px) {
        .text-col {
            border-radius: 0.375rem;
        }
    }
}

.privacy-page {
    .privacy-wrapper {
        background-color: white;
        padding: 30px;
    }
}

.terms-page {
    .terms-wrapper {
        background-color: white;
        padding: 30px;
    }
}

.home-landing {
    background-color: #5b2333;

    .landing-wrapper {
        padding: 30px;
    }

    .landing-name {
        color: #f7f4f3;
    }

    .landing-text {
        color: #f7f4f3;
        font-size: 18px;
    }
}

.home-products {
    .pd-card {
        height: 400px;
    }

    .pd-img img {
        max-height: 250px;
        object-fit: contain;
        padding: 10px;
    }

    .pd-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pd-info {
        padding: 30px;
    }

    .pd-price {
        font-size: 24px;
    }

    .carousel-btn {
        color: white;
        background-color: #5b2333;
    }

    .carousel-btn:hover {
        background-color: #ba1b1d;
    }
}

@media (min-width: 991px) {
    .product-card-ctrl:nth-child(n+7) {
        display: none;
    }

    .product-card {
        max-width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-card-ctrl:nth-child(n+5) {
        display: none;
    }

    .product-card {
        max-width: 48%;
    }
}

@media (max-width: 767px) {
    .product-card-ctrl:nth-child(n+4) {
        display: none;
    }

    .pd-info {
        flex-direction: column;
    }
}